---
import Layout from "../layouts/Layout.astro";
import { getPageInfo } from "../lib/wp";
import PostSection from "../components/PostSection.astro";

const { title, content } = await getPageInfo("pagina-de-inicio");

export const prerender = true;
---

<Layout title="Reformas Hidalvento WP">
  <section class="bg-black text-white py-20">
    <div class="container mx-auto px-4 text-center">
      <h1 class="text-5xl font-bold mb-6">{title}</h1>
      <div class="text-xl max-w-2xl mx-auto" set:html={content} />
    </div>
  </section>
  <PostSection server:defer />
</Layout>
