---
import Layout from "../layouts/Layout.astro";
import mainLogo from "../assets/logo_white.webp";
import featuredImage from "../assets/index-bg.webp?url";
import { Image } from "astro:assets";
import ProductSection from "../components/ProductSection.astro";
import SkeletonProductSection from "../components/SkeletonProductSection.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import CTASection from "../components/CTASection.astro";


const HEAD_CONTENT = {
  title: "Reformas Hidalvento - Reformas del hogar de Valencia, España.",
  description:
    "Expertos en reformas integrales del hogar en Valencia. Calidad, experiencia y compromiso.",
};

export const prerender = true;
---

<Layout {...HEAD_CONTENT}>
  <Navigation focused="servicios" />
  <div class="flex flex-col min-h-screen w-full">
    <section
      class="relative bg-cover bg-center bg-no-repeat text-white w-full h-full min-h-[40vh]"
      style={`background-image: url('${featuredImage}')`}
    >
      <div class="sr-only">
        <h1>Reformas Hidalvento</h1>
        <h2>Empresa de reformas del hogar de Valencia, España.</h2>
        <p>{/* Aquí va un texto eficiente para el seo, descubrimiento */}</p>
      </div>
      {/* Capa de oscurecimiento */}
      <div class="absolute top-0 left-0 w-full min-h-[40vh] bg-black/60 z-10">
      </div>
      {/* h-[calc(100dvh-56px)] top-[56px] */}
      {/* Contenedor del bloque entero centrado */}
      <div
        class="absolute top-0 left-0 w-full z-20 flex flex-col items-center justify-center text-center px-4"
      >
        <div class="max-w-3xl">
          <Image
            src={mainLogo}
            alt="Reformas Hidalvento Logo"
            class="mx-auto mb-2 w-200"
            loading="eager"
          />
        </div>
        <div class="text-xl max-w-2xl mx-auto">
          <p class="italic mb-4">Construimos lo que llevas años imaginando.</p>
        </div>
      </div>
    </section>
    <section class="bg-white">
      <ProductSection server:defer>
        <SkeletonProductSection slot="fallback" elements={6} />
      </ProductSection>
    </section>
    <CTASection />
  </div>
  <Footer />
</Layout>
