---
type TSkeletonGrid = { elements: number };

const { elements } = Astro.props as TSkeletonGrid;
const skeletons = Array.from({ length: elements });
---

{/** Lista de tarjetas esqueleto */}
{ skeletons.map((_, _index) => (
  <div class="block group">
    <article class="bg-white rounded-lg shadow-md overflow-hidden animate-pulse">
      <div class="w-full h-48 bg-gray-300" />
      <div class="p-6 space-y-4">
        <div class="h-6 bg-gray-300 rounded w-3/4" />
        <div class="h-4 bg-gray-300 rounded w-1/2" />
        <div class="h-3 bg-gray-200 rounded w-full" />
        <div class="h-3 bg-gray-200 rounded w-5/6" />
      </div>
    </article>
  </div>
)) }
