---
import SkeletonProductCard from "../components/SkeletonProductCard.astro";

export const prerender = false;
---

<section class="container mx-auto px-4 py-12">
  <h2 class="text-3xl font-bold mb-8 text-center">Nuestros servicios</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <SkeletonProductCard elements={6} />
  </div>
</section>
