---
import { ClientRouter, fade } from "astro:transitions";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Reformas Hidalvento" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body transition:animate={fade({ duration: "1s" })}>
    <slot />
  </body>
</html>
